* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --nav-background: #1396e9;
  --nav-border: 1px solid rgba(18, 51, 18, 0.5);
}

nav {
  font-family:
    "open sans" Arial,
    sans-serif;
}
.nav-list {
  padding: 20px;
  font-size: 0;
}
.nav-list-item {
  display: inline-block;
  position: relative;
  font-size: 16px;
  list-style: none;
  border: var(--nav-border);
  background-color: var(--nav-background);
}

.categ-list {
  display: none;
  position: absolute;
  font-size: 16px;
  list-style: none;
  border: var(--nav-border);
  background-color: var(--nav-background);
  width: 100%;
}
.categ-item, 
.woman-item{
  position: relative;
}

.woman-list {
  display: none;
  position: absolute;
  top: 0;
  left: 144px;
  width: 100%;
  font-size: 16px;
  list-style: none;
  border: var(--nav-border);
  background-color: var(--nav-background);
}

.hats-list {
  display: none;
  position: absolute;
  top: 0;
  left: 142px;
  width: 100%;
  font-size: 16px;
  list-style: none;
  border: var(--nav-border);
  background-color: var(--nav-background);
}

.link {
  display: block;
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  font-weight: 600;
}

.nav-list-item:hover > .categ-list {
  display: block;
}

.categ-item:hover > .woman-list {
  display: block;
}

.woman-item:hover > .hats-list {
  display: block;
}

li:hover {
  background-color: #043c6b;
  border-radius: 5px;
}

p {
  padding-left: 20px;
}
