*{
 box-sizing: border-box;
}

.img  {
 display: block;
  border: 10px solid red;
  /* padding: 10px 20px 30px 40px; - по годинниковій стрілці*/ 
  /* padding: 10px 20px; - верх-низ, право-ліво*/
  /* padding: 10px 20px 30px; - верх, право-ліво, низ*/
  padding: 10px 20px 30px 40px;
  margin: 3cqw;
  width: 260px;
  height: 180px;
}

.wrapper  {
  border: 10px solid springgreen;
  width: 600px;
}
.par {
  border: 5px solid;

  width: 50%;
}