*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body {
  margin: 0;
}
.sertificat {
  margin: 40px auto;
  line-height: 0.8;
  border: 1px solid black;
  background-color: black;
  width: 150mm;
  height: 90mm;
  border-radius: 15px;
}

h1 {
  padding: 20px 0 0 20px;
  margin: 0;
  color: white;
  font-size: 160px;
  align-items: center;
  font-family: 'Golos Text', sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
}

h2 {
  padding: 0 0 0 20px;;
  color: white;
  font-family: 'Golos Text', sans-serif;
  font-weight: 200;
  font-size: 40px;

}

table{
  margin: 0;
  padding: 0;
  width: 150mm;
  height: 40mm;
}

.text {
  padding: 20px;
  color: rgb(190, 17, 17);
  font-family: 'Golos Text', sans-serif;
  font-weight: 700;
  font-size: 40px;
  vertical-align: bottom;

}
img {
  margin: 0;
  padding: 0 20px 0 0;
  width: 35mm;
  height: 35mm;
  object-fit: contain;
  vertical-align: bottom;
}
